<div class="container">

  <div class="row">
    <div class="col-12 alert alert-warning">
      Σας ενημερώνουμε οτι στον σταθμό μετρό Ανθούπολη ο ανελκυστήρας που οδηγεί απο την αποβάθρα στο επίπεδο διακίνησης επιβατών ειναι προσωρινά εκτώς λειτουργέιας
    </div>
  </div>

  <div class="row">
    <div class="col-12 alert alert-warning">
      Από τον ΟΑΣΑ ανακοινώνεται ότι αναστέλλεται προσωρινά η λειτουργία των λεωφορειακών γραμμών 242 (ΣΤ. ΚΑΤΕΧΑΚΗ - ΠΟΛΥΤΕΧΝΕΙΟΥΠΟΛΗ), 250 (ΠΑΝΕΠΙΣΤΗΜΙΟΥΠΟΛΗ - ΣΤ. ΕΥΑΓΓΕΛΙΣΜΟΥ) και Ε90 (ΠΕΙΡΑΙΑΣ - ΠΑΝΕΠΙΣΤΗΜΙΟΥΠΟΛΗ EXPRESS) που εξυπηρετούν την Πανεπιστημιούπολη και την Πολυτεχνειούπολη Ζωγράφου.

      <br><br>Οι γραμμές θα επαναλειτουργήσουν από την Τρίτη 20/1/2020.
    </div>
  </div>

  <div class="row">
    <div class="col-12 alert alert-warning">
      <h4>Προσωρινή Τροποποίηση της Διαδρομής των Λεωφορειακών Γραμμών 700, 747, Α11 και Β11.</h4><br>


      <h5 class="font-weight-bolder">Λεωφορειακή γραμμή 700</h5>
      <p>
        <strong>
          Από αφετηρία προς Στ. Ανθούπολη
        </strong>
        <br>
        Από Διγενή Ακρίτα, συνέχεια Ολυμπίας, δεξιά Β. Ηπείρου, δεξιά 28 ης Οκτωβρίου, αριστερά Ανατολικής Ρωμυλίας, συνέχεια Λ. Ανδρέα Παπανδρέου, δεξιά Θηβών και συνέχεια όπως η εγκεκριμένη διαδρομή.
        <br>

        <strong>
          Προς αφετηρία (Πετρούπολη)
        </strong><br>

        Από 25ης Μαρτίου (Πετρουπόλεως), αριστερά Ιγνατίου, δεξιά Ανατολικής Ρωμυλίας, αριστερά Σουλίου και συνέχεια όπως η εγκεκριμένη διαδρομή.
      </p>

      <h5 class="font-weight-bolder">Λεωφορειακή γραμμή 747</h5>
      <p>
        <strong>
          Από αφετηρία προς Στ. Ανθούπολη
        </strong>
        <br>
        Από 25ης Μαρτίου (Πετρουπόλεως), αριστερά Βαλτετσίου, δεξιά Έλλης, αριστερά Αναπαύσεως και συνέχεια όπως η εγκεκριμένη διαδρομή.
        <br>
      </p>

      <h5 class="font-weight-bolder">Λεωφορειακές γραμμές Α11 και Β11</h5>
      <p>
        <strong>
          Από αφετηρία προς τέρμα (Πετρούπολη)
        </strong>
        <br>
        Από 25ης Μαρτίου (Πετρουπόλεως), αριστερά Ιγνατίου, δεξιά Ανατολικής Ρωμυλίας, δεξιά Ολυμπίας, αριστερά Β. Ηπείρου και συνέχεια Β. Ηπείρου (τέρμα).
        <br>
        <strong>Από τέρμα προς αφετηρία (Πλ. Βάθη)</strong>
        <br>

        Από Β. Ηπείρου, συνέχεια Β. Ηπείρου, δεξιά 28ης Οκτωβρίου, αριστερά Ανατολικής Ρωμυλίας, αριστερά Ιγνατίου, δεξιά 25ης Μαρτίου (Πετρουπόλεως) και συνέχεια όπως η εγκεκριμένη διαδρομή.
      </p>



    </div>
  </div>

</div>

