<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Για Ερωτήσεις που αφορούν την νέα τιμιλογιακή πολιτική των συγκoινωνιών ακολοθείστε τον <a href="http://www.oasa.gr/pdf/faq.pdf" target="_blank">σύνδεσμο</a></h5>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h5>Τι είναι οι Συγκοινωνίες Αθηνών;</h5>
      <p>Οι Συγκοινωνίες Αθηνών είναι οι δημόσιες υπηρεσίες μετακίνησης, που προσφέρουν οι Ο.Α.Σ.Α., ΣΤΑ.ΣΥ. (μετρό, ηλεκτρικός και τραμ) και Ο.ΣΥ. (λεωφορεία και τρόλεϊ), οι οποίες λειτουργούν με τρόπο ενιαίο για να κάνουν πραγματικότητα την ιδέα: «Μια πόλη. Ένα δίκτυο.».</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h5>Ποιές περιχές εξυπηρετούνται απο τις συγκοινωνίες του ομιλου ΟΑΣΑ?</h5>
      <p>Η περιοχή που εξυπηρετείται σήμερα με αστική συγκοινωνία από τον Όμιλο ΟΑΣΑ είναι ο Νομός Αττικής»</p>
      <img src="../../assets/map_responsibility-area.gif" alt="map" class="h-75 w-75 img-fluid ml-5">
    </div>
  </div>
</div>
