<div class="container">

  <div class="row my-3">
    <div class="col-12">
      <a class="btn btn-block btn-primary" routerLink="general">Γενικές Οδηγίες</a>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <a class="btn btn-block btn-primary" routerLink="stations">Στάσεις με Προεξοχές</a>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <a class="btn btn-block btn-primary" routerLink="instructions">Οδηγίες Πορσέγγισης</a>
    </div>
  </div>
</div>

