<div class="container">

  <p> Για τα Εμποδιζόμενα άτομα έχει ληφθεί ειδική μέριμνα που διευκολύνει τις μετακινήσεις τους με την Αστική
    Συγκοινωνία.
    Εάν η πρόσβαση προς τις ράμπες επιβίβασης-αποβίβασης των   λεωφορείων ή τους σταθμούς εμποδίζονται από παράνομα παρκαρισμένα οχήματα ή έχετε οποιαδήποτε απορία,  καλέστε τον
    ΟΑΣΑ, στη <strong>νέα αποκλειστικής εξυπηρέτησης γραμμή 21 82 887 από 06:30 έως 22:30 τις καθημερινές &amp; από 07:30 έως 22:30 τα Σ/Κ.</strong></p>

  <div class="row mt-2">
    <div class="col-12">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Επιλέξτε το μέσο για το οποίο ενδιαφέρεστε
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item" (click)="SelectesSeqment='metro'" >Μετρό</button>
          <button class="dropdown-item"  (click)="SelectesSeqment='hsap'">ΗΣΑΠ</button>
          <button class="dropdown-item" (click)="SelectesSeqment='tram'">ΤΡΑΜ</button>
          <button class="dropdown-item" (click)="SelectesSeqment='lewforio'">Λεωφορία</button>
          <button class="dropdown-item" (click)="SelectesSeqment='troley'">Τρόλευ</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="SelectesSeqment === 'metro'" class="mt-2">
    <h3>Για το ΜΕΤΡΟ</h3>

    <ul>
      <li> Πηγαίνεις στον πλησιέστερο σταθμό της οικίας σου ή της διαδρομής που επιθυμείς.</li>
      <li> Από τις ράμπες των πεζοδρομίων προσεγγίζεις τον ανελκυστήρα του σταθμού. </li>
      <li>   Εισέρχεσαι στον ανελκυστήρα και κατεβαίνεις στις αποβάθρες των σταθμών.   Όλοι οι ανελκυστήρες είναι πλήρως προσβάσιμοι
        και στην είσοδο και στην   έξοδο τους. Εάν αντιμετωπίσεις πρόβλημα χρησιμοποίησε το κουδούνι   κινδύνου.</li>
      <li> Από τις αποβάθρες εισέρχεσαι στους συρμούς είτε μόνος   είτε με την βοήθεια του συνοδού σου ή των υπευθύνων των σταθμών, οι
        οποίοι θα σου παράσχουν κάθε δυνατή βοήθεια, όταν θα τους ζητηθεί. Η   επιβίβαση-αποβίβαση για τα αναπηρικά αμαξίδια γίνεται ευκολότερη στο
        πρώτο ή το τελευταίο βαγόνι, γιατί φέρουν ράμπα για το κενό που υπάρχει   μεταξύ αποβάθρας και συρμού και σχετική σήμανση. </li>
      <li> Εάν έχεις   πρόβλημα όρασης ζήτησε βοήθεια από τον υπεύθυνο του σταθμού, ο οποίος θα   σε βοηθήσει στην επιβίβαση και θα ενημερώσει
        τον υπεύθυνο του σταθμού   που θα αποβιβασθείτε για να σε βοηθήσει. <p></p>
      </li></ul>



  </div>

  <div *ngIf="SelectesSeqment === 'hsap'" class="mt-2">
    <h3>Για τον ΗΛΕΚΤΡΙΚΟ ΣΙΔΗΡΟΔΡΟΜΟ   </h3>
    <ul>
      <li>   Ακολούθησε όλες τις παραπάνω οδηγίες, γιατί όλοι οι σταθμοί του ΗΣΑΠ   έχουν ανακαινισθεί με σκοπό την πλήρη πρόσβαση των Εμποδιζομένων Ατόμων
        (Ράμπες, Ανελκυστήρες, Φύλακες κ.λ.π.).</li>
      <li> Εισέρχεσαι στους συρμούς από την πρώτη πόρτα του πρώτου βαγονιού, όπου υπάρχει και σχετική σήμανση.</li>
      <li>   Στους σταθμούς Άγ. Νικολάου, Ομόνοιας, Μοναστηράκι καλέστε τους φύλακες   να φέρουν την κινητή ράμπα και να σας βοηθήσουν, αφού την τοποθετήσουν,
        επειδή στους παραπάνω σταθμούς υπάρχει μεγάλο κενό μεταξύ αποβάθρας και   συρμών. Υπάρχει σχετική σήμανση στα βαγόνια των συρμών και ηχητική
        ενημέρωση στους παραπάνω σταθμούς. <p></p>
      </li></ul>

  </div>

  <div *ngIf="SelectesSeqment === 'tram'" class="mt-2">
    <h3>Για το ΤΡΑΜ </h3>
    <ul>
      <li>   Πλησιάζεις τον πλησιέστερο σταθμό της οικίας σου, συνήθως με την   βοήθεια συνοδού, γιατί η πρόσβαση προς τις ράμπες των στάσεων του ΤΡΑΜ
        δεν είναι εύκολη, επειδή τα πεζοδρόμια δεν έχουν ακόμη προσαρμοσθεί   κατάλληλα.</li>
      <li> Εισέρχεσαι στους συρμούς μόνος σου ή με την βοήθεια του συνοδού σου όπου υπάρχουν ειδικές θέσεις για Εμποδιζόμενα Άτομα.

      </li></ul>

  </div>

  <div *ngIf="SelectesSeqment === 'lewforio'" class="mt-2">
    <h3>Για τα ΛΕΩΦΟΡΕΙΑ  </h3>
    <ul>
      <li> Πλησιάζεις την κοντινότερη στάση της λεωφορειακής γραμμής που χρησιμοποιείς μόνος ή με την βοήθεια συνοδού.</li>
      <li> Να προτιμήσετε τις στάσεις με προεξοχές που έχουν τοποθετηθεί για εξυπηρέτηση των Εμποδιζομένων Ατόμων. </li>
      <li>   Όταν πλησιάζει το λεωφορείο σου, ο οδηγός όταν σταματήσει είναι   υποχρεωμένος να χρησιμοποιήσει την επιγονάτηση ή την ράμπα, εάν έχει το
        λεωφορείο. Σχεδόν όλα τα λεωφορεία έχουν επιγονάτηση, ενώ το 1/4 αυτών   φέρει ράμπες. </li>
      <li> Με την βοήθεια του συνοδού σου, των επιβατών ή του   οδηγού επιβιβάζεσαι. Όλοι οι οδηγοί έχουν ενημερωθεί να παρέχουν κάθε
        βοήθεια στα εμποδιζόμενα άτομα. Εάν έχεις κάποιο παράπονο κάλεσε τον   ΟΑΣΑ, τηλ. <span class="style1">210 82 00 887</span> ή στο τηλεφωνικό κέντρο του ΟΑΣΑ <span class="style1">11 185</span>.</li>
      <li> Εάν υπάρχουν ομάδες Εμποδιζομένων Ατόμων   (Σχολεία, Σύλλογοι, κ.λ.π. ) που θα πρέπει να μετακινούνται καθημερινά,
        κάλεσε τον ΟΑΣΑ στα τηλ. 2108200883, 2108200881 για εξυπηρέτησή σας. Ήδη   εξυπηρετείται με την λεωφ. Γραμμή 030 το Κ.Ε.Ε.Π.Ε.Α. Κέντρο
        Επαγγελματικής Εκπαίδευσης Παιδιών με Ειδικές Ανάγκες. Επίσης η λεωφ.   Γραμμή 911 εξυπηρετεί τον "Φάρο Τυφλών".
      </li></ul>
  </div>

  <div *ngIf="SelectesSeqment==='troley'" class="mt-2">
    <h3>Για τα ΤΡΟΛΕΪ </h3>
    <ul>
      <li> Πλησιάζεις την κοντινότερη στάση της γραμμής τρόλεϊ που χρησιμοποιείς.</li>
      <li> Να προτιμήσετε τις στάσεις με προεξοχές, που έχουν τοποθετηθεί για εξυπηρέτηση των Εμποδιζομένων Ατόμων.</li>
      <li>   Όταν πλησιάσει και σταματήσει το τρόλεϊ, ο οδηγός είναι υποχρεωμένος να   χρησιμοιήσει την επιγονάτηση ή την ράμπα,
        εάν έχει το τρόλεϊ. Όλα τα   τρόλεϊ έχουν επιγονάτηση και το 1/4 ράμπες. Εάν έχεις κάποιο παράπονο   κάλεσε τον ΟΑΣΑ, τηλ. <strong>21082 00 887 ή στο τ.κ. 11185</strong>. </li>
      <li> Με την βοήθεια του συνοδού   σου των επιβατών και των οδηγών επιβιβάζεσαι. Όλοι οι οδηγοί έχουν
        ενημερωθεί να παρέχουν κάθε διευκόλυνση στα εμποδιζόμενα άτομα.


      </li></ul>
  </div>

</div>
