<div class="col-12">

  <div class="row ">
    <div class="col-md-4 mb-3 ">
      <div class="card h-100" style="background: #1d2a3a">
        <div class="card-body">
          <h5 class="card-title text-light font-weight-bold">Τιμές Εισιτηρίων</h5>
          <p class="card-text text-light">Ενημερωθείται για όλα τα διαθέσιμα κόμιστρα και τις τιμές τους</p>
          <a class="btn btn-block btn-primary text-light" routerLink="prices">Δείτε τις τιμές</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card h-100" style="background: #1d2a3a">
        <div class="card-body">
          <h6 class="card-title text-light font-weight-bold">Έκδοση Προσωποποιημένης Κάρτας</h6>
          <p class="card-text text-light">Εκδώστε τη προσωποποιημένη κάρτα σας εύκολα και γρήγορα</p>
          <a class="btn btn-block btn-primary text-light" routerLink="card-order">Φόρμα Έκδωσης</a>
        </div>
      </div>

    </div>

    <div class="col-md-4 mb-3">
      <div class="card h-100" style="background: #1d2a3a">
        <div class="card-body">
          <h5 class="card-title text-light font-weight-bold">Online Αγορά εισιτηρίου/επαναφόρτιση κάρτας</h5>
          <p class="card-text text-light" style="font-size: 0.8rem">Επαναφορτίστε τη προσωποποιημένη σας κάρτα ή αγοράστε εισιτήρια ηλεκτρονικά</p>
          <a class="btn btn-block btn-primary text-light" routerLink="ticket-order">Επαναφόρτιση / Αγορά</a>
        </div>
      </div>
    </div>
  </div>
</div>
