<div class="container">
  <hr>
  <div class="row">
    <div class="col-12 mb-3">
      <a class="btn btn-block btn-primary shadow-lg text-light" routerLink="email">Επικοινωνία μέσω email</a>
    </div>

    <div class="col-12 mb-3">
      <a class="btn btn-block btn-primary shadow-lg text-light" routerLink="info">Επικοινωνία με Φορείς</a>
    </div>

    <div class="col-12 mb-3">
      <a class="btn btn-block btn-primary shadow-lg text-light" routerLink="complains">Φόρμα παραπώνων</a>
    </div>
  </div>
  <hr>
</div>
