<div class="container">
  <div class="row mb-2">
    <div class="col-12">
      <strong><br>Α. Τιμές εισιτηρίων<br><br></strong>
      <table style="border-collapse: collapse; width: 100%;" cellpadding="6" border="1">
        <tbody>
        <tr>
          <td></td>
          <td style="text-align: center; background-color: #ccffff; padding: 15px;"><strong>ΛΕΩΦΟΡΕΙΑ</strong></td>
          <td style="text-align: center; background-color: #feff01; padding: 15px;"><strong>ΤΡΟΛΛΕΫ</strong></td>
          <td style="text-align: center; background-color: #cdcdff; padding: 15px;"><strong>ΤΡΑΜ</strong></td>
          <td style="text-align: center; background-color: #ffcc00; padding: 15px;"><strong>ΜΕΤΡΟ</strong></td>
        </tr>
        <tr>
          <td style="text-align: left;"><span style="font-size: 18px;"><strong>ΕΝΙΑΙΑ ΕΙΣΙΤΗΡΙΑ</strong></span></td>
          <td style="text-align: center; background-color: #ccffff;"></td>
          <td style="text-align: center; background-color: #feff01;"></td>
          <td style="text-align: center; background-color: #cdcdff;"></td>
          <td style="text-align: center; background-color: #ffcc00;"></td>
        </tr>
        <tr>
          <td style="text-align: left;">Ενιαίο εισιτήριο για όλα τα μέσα 90 λεπτών ( εκτός γραμμών Αεροδρομίου &amp; γραμμής Χ80)</td>
          <td style="text-align: center; background-color: #ffffcc;" colspan="4">1,40€</td>
        </tr>
        <tr>
          <td style="text-align: left;">Μειωμένο ενιαίο εισιτήριο για όλα τα μέσα 90 λεπτών (εκτός γραμμών Αεροδρομίου &amp; γραμμής Χ80)</td>
          <td style="text-align: center; background-color: #ffffcc;" colspan="4">0,60€</td>
        </tr>
        <tr>
          <td style="text-align: left;">Ημερήσιο εισιτήριο για όλα τα μέσα (εκτός γραμμων Αεροδρομίου)</td>
          <td style="text-align: center; background-color: #ffffcc;" colspan="4">4,50€</td>
        </tr>
        <tr>
          <td style="text-align: left;">Εισιτήριο πέντε ημερών για όλα τα μέσα (εκτός γραμμών Αεροδρομίου &amp; γραμμής Χ80)</td>
          <td style="text-align: center; background-color: #ffffcc;" colspan="4">9,00€</td>
        </tr>
        <tr>
          <td style="text-align: left;">Τουριστικό εισιτήριο 3 ημερών για όλα τα μέσα (περιλαμβάνει 1 διαδρομή από &amp; προς το Αεροδρόμιο)</td>
          <td style="text-align: center; background-color: #ffffcc;" colspan="4">22,00€</td>
        </tr>
        <tr>
          <td style="text-align: left;"><span style="font-size: 18px;"><strong>ΕΙΣΙΤΗΡΙΑ ΓΡΑΜΜΩΝ ΑΕΡΟΔΡΟΜΙΟΥ</strong></span></td>
          <td style="text-align: center; background-color: #ccffff;"></td>
          <td style="text-align: center; background-color: #feff01;"></td>
          <td style="text-align: center; background-color: #cdcdff;"></td>
          <td style="text-align: center; background-color: #ffcc00;"></td>
        </tr>
        <tr>
          <td style="text-align: left;">Κανονικό εισιτήριο λεωφορείων EXPRESS</td>
          <td style="text-align: center; background-color: #ffffcc;">6,00€</td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
        </tr>
        <tr>
          <td style="text-align: left;">Μειωμένο εισιτήριο λεωφορείων EXPRESS</td>
          <td style="text-align: center; background-color: #ffffcc;">3,00€</td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
        </tr>
        <tr>
          <td style="text-align: left;">Κανονικό εισιτήριο ΜΕΤΡΟ</td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center; background-color: #ffffcc;">10,00€</td>
        </tr>
        <tr>
          <td style="text-align: left;">Μειωμένο εισιτήριο ΜΕΤΡΟ</td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center; background-color: #ffffcc;">5,00€</td>
        </tr>
        <tr>
          <td style="text-align: left;">Εισιτήριο Αεροδρομίου μετ' επιστροφής ΜΕΤΡΟ</td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center; background-color: #ffffcc;">18,00€</td>
        </tr>
        <tr>
          <td style="text-align: left;">Εισιτήριο Αεροδρομίου από &amp; προς τους σταθμούς Παλλήνη - Κάντζα - Κορωπί ΜΕΤΡΟ</td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center; background-color: #ffffcc;">6,00€</td>
        </tr>
        <tr>
          <td style="text-align: left;">Μειωμένο εισιτήριο Αεροδρομίου από &amp; προς τους σταθμούς Παλλήνη - Κάντζα - Κορωπί ΜΕΤΡΟ</td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center; background-color: #ffffcc;">3,00€</td>
        </tr>
        <tr>
          <td style="text-align: left;"><span style="font-size: 18px;"><strong>ΕΙΣΙΤΗΡΙΑ ΠΟΥ ΙΣΧΥΟΥΝ ΣΤΗ ΓΡΑΜΜΗ EXPRESS Χ80</strong></span></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;"></td>
        </tr>
        <tr>
          <td style="text-align: left;">Ημερήσιο εισιτήριο για όλα τα μέσα, εκτός Αεροδρομίο</td>
          <td style="text-align: center; background-color: #ffffcc;" colspan="4">4,50€</td>
        </tr>
        <tr>
          <td style="text-align: left;">Τουριστικό εισιτήριο 3 ημερών για όλα τα μέσα (περιλαμβάνει 1 διαδρομή από &amp; προς το Αεροδρόμιο)</td>
          <td style="text-align: center; background-color: #ffffcc;" colspan="4">22,00€</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
      <strong>Β. Χρονικά προϊόντα κομίστρου<br><br></strong>
      <table style="border-collapse: collapse; width: 100%;" cellpadding="5" border="1">
        <tbody>
        <tr style="height: 21px;">
          <td style="text-align: center;" colspan="9">ΧΡΟΝΙΚΑ ΠΡΟΙΟΝΤΑ ΚΟΜΙΣΤΡΟΥ</td>
        </tr>
        <tr style="height: 21px;">
          <td style="text-align: center;" colspan="9">Ο.Α.Σ.Α. Α.Ε. - Ο.Σ.Υ. Α.Ε. - ΣΤΑ.ΣΥ. Α.Ε.</td>
        </tr>
        <tr style="height: 21px;">
          <td style="text-align: center;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;" colspan="2">30 ΗΜΕΡΩΝ</td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;" colspan="2">90 ΗΜΕΡΩΝ</td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;" colspan="2">180 ΗΜΕΡΩΝ</td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;" colspan="2">365 ΗΜΕΡΩΝ</td>
        </tr>
        <tr style="height: 21px;">
          <td style="text-align: center;"></td>
          <td style="text-align: center;">Ολόκληρο</td>
          <td style="text-align: center;">Μειωμένο</td>
          <td style="text-align: center;">Ολόκληρο</td>
          <td style="text-align: center;">Μειωμένο</td>
          <td style="text-align: center;">Ολόκληρο</td>
          <td style="text-align: center;">Μειωμένο</td>
          <td style="text-align: center;">Ολόκληρο</td>
          <td style="text-align: center;">Μειωμένο</td>
        </tr>
        <tr style="height: 21px;">
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;">ΓΙΑ ΟΛΑ ΤΑ ΜΕΣΑ</td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
        </tr>
        <tr style="height: 21px;">
          <td style="text-align: center;">Εκτός των γραμμών Express του Αεροδρομίου <br>Μετρό (έως το σταθμό Κορωπίου)<br>ΤΡΑΙΝΟΣΕ : Τμήμα Μαγούλα - Πειραιάς - Κωροπί</td>
          <td style="text-align: center;">30&nbsp;€</td>
          <td style="text-align: center;">15&nbsp;€</td>
          <td style="text-align: center;">85&nbsp;€</td>
          <td style="text-align: center;">43&nbsp;€</td>
          <td style="text-align: center;">170&nbsp;€</td>
          <td style="text-align: center;">85&nbsp;€</td>
          <td style="text-align: center;">330&nbsp;€</td>
          <td style="text-align: center;">165&nbsp;€</td>
        </tr>
        <tr style="height: 21px;">
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;">ΓΙΑ ΟΛΑ ΤΑ ΜΕΣΑ (και από και προς το ΑΕΡΟΔΡΟΜΙΟ)</td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
          <td style="text-align: center; background-color: #9d7bad; padding: 5px;"></td>
        </tr>
        <tr style="height: 21px;">
          <td style="text-align: center;">Εκτός των γραμμών Express του Αεροδρομίου <br>Μετρό (έως το σταθμό Κορωπίου)<br>ΤΡΑΙΝΟΣΕ : Τμήμα Μαγούλα - Πειραιάς - Κωροπί</td>
          <td style="text-align: center;">49&nbsp;€</td>
          <td style="text-align: center;">25&nbsp;€</td>
          <td style="text-align: center;">142&nbsp;€</td>
          <td style="text-align: center;">71&nbsp;€</td>
          <td style="text-align: center;">250&nbsp;€</td>
          <td style="text-align: center;">125&nbsp;€</td>
          <td style="text-align: center;">490&nbsp;€</td>
          <td style="text-align: center;">245&nbsp;€</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
