<div class="col-12">



  <div class="row ">

    <div class="col-md-6 mb-3">
      <div class="card h-100 " style="background: #1d2a3a">
        <div class="card-body">
          <h5 class="card-title text-light font-weight-bold">Ωράρια δρομολογίων</h5>
          <p class="card-text text-light" style="font-size: 0.8rem">Ενημερωθείτε για τα ωράρια δρομολογίων λεωφορείων και τρόλλευ καθώς και για τα ωράρια λειτουργίας του μετρό, ΗΣΑΠ και τραμ.</p>
          <a class="btn btn-block btn-primary text-light" [routerLink]="['/home/timetables']">Δείτε τα ωράρια</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="card h-100">
        <div class="card-body" style="background: #1d2a3a">
          <h3 class="card-title text-light font-weight-bold">ΑΜΕΑ</h3>
          <p class=" card-text text-light" style="font-size: 0.8rem">Πληροφορίες για την μετακίνηση των ατόμων με αναπηρίες και κινησιακές δυσκολίες.</p>
          <a class="btn btn-block btn-primary text-light" routerLink="amea">Μάθετε περισσότερα</a>
        </div>
      </div>
    </div>


  </div>

</div>
